<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">Music &gt;&gt;</a>
    </div>
    <ul class="nav navbar-nav">
      <li><a id="space">Social Media</a></li>
      <li><a id="chatbox">Chat</a></li>
      <li><a id="ticket">Merch</a></li>
      <li><a id="log">Log Out</a></li>
    </ul>
  </div>
</nav>

<br>
<br>

<nav class="col-md-8 col-md-offset-2">
                <ul class="nav nav-pills">
                    <li routerLinkActive="active"><a>Messenger</a></li>
                    <li routerLinkActive="active"><a>Authentication</a></li>
                </ul>
            </nav>